<!--  HwClicker Style Sheet v1.1 Don't ask. -->
<!--  	Credits of Homework Clicker:
		-Upgrade/Achievement/Description Maker: Edwin Z.
		-Creative Guy: Jeffery L.
		-Super Necessary Important Vital Rock to the Game: Michael S.
		-Script writer: Kevin G.                               -->


<!-- Word/Header Styles -->
#updateheader
{
font-family:Calibri;
color:6495ed;
}
li
{
font-family:Calibri;
color:00bfff;
}
p
{
font-family:Calibri;
color:00bfff;
}
q
{
font-family:Calibri;
color:663300;
}
#newsTicker
{
font-family:Calibri;
color:663300;
font-size:20;
}
#hwDoneDisplay
{
font-family:Calibri;
color:B0C0D0;
}
h3
{
font-family:Calibri;
color:B0C0D0;
}
h2
{
font-family:Calibri;
color:B0C0D0;
}
h4
{
font-family:Calibri;
color:B0C0D0;
}
#ppsDisplay
{
font-family:Calibri;
color:C0D0F0;
}
#headertitle
{
font-family:Calibri;
color:1a1a1a;
}
#shopHeader
{
font-family:Calibri;
color:1a1a1a;
}
#interfaceHeader
{
font-family:Calibri;
color:1a1a1a;
}
#messages
{
font-family:Calibri;
color:999900;
}
<!-- DIV styles start here -->
#header 
{
background-color:black;
color:white;
text-align:center;
padding:5px;
}
#hwHolder 
{
line-height:30px;
background-color:#eeeeee;
height:400px;
width:500px;
float:left;
padding:5px;	      
}
#statsSection 
{
border-left-style: solid;
border-width: 1px;
width:350px;
height:400px;
float:left;
}
#shop 
{
background-color:#99FFCC;
width:390px;
height:370px;
float:right;
padding:10px;
overflow: scroll;	 	 
}
#shopWrap
{
border-left-style: solid;
border-width: 1px;
background-color:#99FFCC;
width:400px;
height:400px;
float:right;
padding:10px;
}
#updatelist 
{
background-color:b2ffff;
color:black;
clear:both;
text-align:center;
padding:5px;	
overflow: scroll;
height:151px;	 
}
#interfaceElementHolder
{
background-color:#99FF99;
height:310px;
overflow: scroll;
}
<!-- Shop Element styles start here -->
#buildingDescription
{
color:0000FF;
}
#buildingImage
{
float:left;
}
#pencilBuildingDisplay
{
float:right;
font-family:Calibri;
color:B0C0D0;
}
#dogBuildingDisplay
{
float:right;
font-family:Calibri;
color:B0C0D0;
}
#computerBuildingDisplay
{
float:right;
font-family:Calibri;
color:B0C0D0;
}
#libraryBuildingDisplay
{
float:right;
font-family:Calibri;
color:B0C0D0;
}
#tutorBuildingDisplay
{
float:right;
font-family:Calibri;
color:B0C0D0;
}
#instituteBuildingDisplay
{
float:right;
font-family:Calibri;
color:B0C0D0;
}
#lavaBuildingDisplay
{
float:right;
font-family:Calibri;
color:B0C0D0;
}
<!--Table Styles Start Here -->
td
{
text-align:left;
}
#interfaceMenuFrame
{
width:415px;
height:100px;
text-align:center;
}
#toggleMenuHolder
{
background-color:FFFF66;
}
#toggleStatsHolder
{
background-color:FFFF66;
}
#newsHolder
{
background-color:99CCFF;
height:100px;
}
<!-- Misc. Styles Start here -->
